.carousel-container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel-navigation button {
    background-color: #d4e2eb;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-navigation button:hover {
    background-color: #070708;
}

#prevButton {
    color: red;
}

#nextButton {
    color: red;
}


